.taskListBoard-item-dateTimeField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.taskListBoard-item-dateTime{
    margin: 5px 0px;
    font-size: 18px;
}

.timeSection-date{
    margin-bottom: 11.5px;
}
.timeSection-time{
    margin-top: 11.5px;
}

