input, span{
    color:rgb(43, 43, 43);
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(.7px);
    -webkit-backdrop-filter: blur(5.7px);
    transition: all .15s ease-in-out ;
    cursor: pointer;
    margin: 10px;
    width: 250px;
    font-size: 25px;
    height: 93px;
    text-align: center;
  }
  input:hover,input:focus{
    background: rgba(0, 0, 0, 0.300);
    color:rgb(43, 43, 43); 
  }

  input::placeholder{
    color: rgb(43, 43, 43);
  }

  .container-inputField{
    display: flex;
  }
 
  input{
    margin-right: 13px;
  }